body{
    background-color: rgb(36, 34, 28);
}

html {
    scroll-behavior: smooth;
}


/*Seccion de los paquetes del menu*/
.menu-container {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Crea columnas flexibles que se adaptan al ancho */
    gap: 30px;
    padding: 40px 20px;
    
    
}

/* Estilos para cada item de menú */
.menu-item {
    background-color: rgba(149, 119, 44, 0.1); /* Fondo con color semi-transparente */
    border: 1px solid #d4af37;
    border-radius: 16px;
    padding: 25px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto de transición para transformaciones */
}

/* Efecto hover para .menu-item */
.menu-item:hover {
    transform: translateY(-5px); /* Desplazamiento hacia arriba */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra adicional */
}

/* Etiqueta de promoción o tag */
.menu-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff5e5e;
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Encabezado dentro del item de menú */
.menu-header {
    margin: 20px 0 30px;
}

/* Estilo del Título del menú */
.menu-title {
    font-size: 22px;
    color: #bfc7d5;
    text-transform: uppercase;
    margin: 0;
}

/* Subtítulo o descripción corta */
.menu-header span {
    display: block;
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

/* Parametros del Contenedor de imágenes del menú */
.menu-image {
    display: flex;
    gap: 15px;
    margin: 20px 0;
    overflow-x: auto;
    padding: 10px 0;
}

/* Estilos para las imágenes dentro de .menu-image */
.menu-image img {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    object-fit: cover; /* Ajuste de imagen y opacidad */
    transition: transform 0.3s ease;
    opacity: 0.9;

}

/* Efecto hover para imágenes del menú */
.menu-image img:hover {
    transform: scale(1.05); /* Escala y opacidad al pasar el cursor */
    opacity: 1;
}

/* Descripción del menú */
.menu-description {
    text-align: left;
    font-size: 15px;
    color: beige;
    margin: 25px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: .5px;
}

/* Lista de elementos dentro de .menu-description */
.menu-description li {
    margin-bottom: 12px;
    list-style-type: none;
    padding-left: 20px;
    position: relative;
}

/* Punto decorativo en cada elemento de lista */
.menu-description li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #d4af37;
}

/* Precio del menú */
.menu-price {
    font-size: 20px;
    color: #333;
    margin: 15px 0;
}

/* Precio anterior (tachado) */
.menu-price del {
    color: #d9534f;
    font-size: 18px;
    margin-right: 15px;
}

/* Precio actual (en negrita) */
.menu-price strong {
    color: #5cb85c;
}


/*Titulos de la seccion de los menus*/
.titulo2{
    font-size: 32px;
    color: #8f912c;
    text-align: center;
    margin: 50px 0 20px;
    font-weight: 300;
    letter-spacing: 2px;
    
    
}


/*Decoracion de linea*/
.titulo2 {
    font-size: 32px;
    color: #d1d1d1;
    text-align: center;
    margin: 50px 0 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

.line-decoration {
    position: relative;
    width: 400px;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffe66b, transparent);
    margin: 20px auto 40px;
}

.line-decoration::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #8b7727;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


/*Estilos de las Entradas*/
.entradas-section {
    max-width: 1400px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url('menu/fondo.png');  /* Fondo con gradiente oscuro sobre una imagen */
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply; /* Mezcla la imagen con el fondo */
    border-radius: 16px;
}

/* Elementos individuales de cada entrada */
.menu-entry-item {
    background-color: rgba(236, 174, 16, 0.1);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(30% - 20px); /* Tres elementos por fila */
    margin-bottom: 20px;
    min-width: 300px; /* Ancho mínimo */
    text-align: center; /* Centrar el contenido */
    border: 1px solid #d4af37; /* Borde dorado */
    transition: transform 0.3s ease; /* Efecto de transición al hacer hover */
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

/* Eatos elementos se repiten para las demas secciones*/
/* Efecto hover para el elemento de entrada */
.menu-entry-item:hover {
    transform: scale(1.05); /* Aumenta el tamaño ligeramente */
}

/* Nombre de la entrada */
.entry-name {
    font-weight: bold;
    font-size: 18px;
    color: #bfc7d5;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

/* Peso o descripción adicional de la entrada */
.entry-weight {
    font-size: 14px;
    color: #a3a2a2;
    margin-left: 10px;
}

/* Precio de la entrada */
.entry-price {
    float: right;
    font-weight: bold;
    font-size: 18px;
    color: #5cb85c; /* Color del precio verde */
}

/* Estilo para el texto dentro de menu-entry-item */
.menu-entry-item p {
    font-size: 14px;
    color: beige;
    margin-top: 10px;
}

/* Etiqueta para nuevos elementos */
.new-entry {
    background-color: #ff6600; /* Color naranja para "Nuevo" */
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 10px;
    font-weight: bold;
}


/*Seccion de comidas*/
.comidas-section {
    padding: 20px;
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url('menu/comidas.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;

}

/* Seccion de postres */
.postres-section{
    padding: 20px;
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;


}

/* Estilos de imagenes */
.entry-image {
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: 100px; /* Ajusta el tamaño de la imagen */
    object-fit: cover; /* Mantiene las proporciones de la imagen */
    border-radius: 8px; /* Bordes redondeados para la imagen */
    display: flex;
    justify-content: left;
}

/*Seccion de bebidas*/
.bebidas-section{
    padding: 20px;
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.menu-entry-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-entry-item li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #e0e0e0;
}

.menu-entry-item li:last-child {
    border-bottom: none;
}

.menu-entry-item li span {
    color: #4cd137;
    font-weight: 500;
}

.entry-image {
    width: 100%;
    max-width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin: 15px 0;
    transition: transform 0.3s ease;
}

/* Estilos para pantallas de 768px o menos */
@media screen and (max-width: 768px) {
    /* Ajuste del contenedor principal */
    .menu-container {
        grid-template-columns: 1fr; /* Columna única */
        padding: 0; /* Sin padding en los lados */
        margin: 0; /* Elimina el margen automático */
        width: 100vw; /* Ocupa todo el ancho de la pantalla */
    }

    /* Ajuste de los elementos de menú */
    .menu-item {
        padding: 20px;
        margin: 0; /* Elimina márgenes externos */
        border-radius: 0; /* Sin bordes redondeados para aprovechar mejor el espacio */
        width: 100%; /* Asegura que cada elemento ocupa el 100% del ancho */
        box-sizing: border-box; /* Asegura que el padding no afecta el ancho total */
    }

    /* Ajuste del contenedor de imágenes */
    .menu-image {
        display: flex;
        gap: 10px;
        overflow-x: auto; /* Permite deslizar las imágenes horizontalmente si es necesario */
        padding: 10px 0;
        width: 100%; /* Asegura que el contenedor de imágenes ocupe todo el ancho */
        justify-content: center; /* Centra las imágenes horizontalmente */
    }

    /* Imágenes dentro del contenedor de imágenes */
    .menu-image img {
        width: 100px; /* Ajusta el ancho de las imágenes para hacerlas más pequeñas */
        height: 100px; /* Ajusta la altura de las imágenes para que sean proporcionales */
        border-radius: 8px; /* Bordes redondeados */
        flex-shrink: 0; /* Evita que las imágenes se reduzcan */
        object-fit: cover; /* Mantiene el aspecto de las imágenes dentro del tamaño */
    }

    /* Ajuste de la descripción */
    .menu-description {
        font-size: 14px; /* Tamaño más pequeño para móviles */
        margin: 10px 0; /* Ajusta el margen */
    }

    /* Ajuste de las secciones */
    .entradas-section,
    .comidas-section,
    .bebidas-section,
    .postres-section {
        flex-direction: column,center; /* Columna única */
        padding: 0; /* Sin padding lateral */
        margin: 0; /* Sin márgenes externos */
        width: 100%; /* Ocupa todo el ancho */
        
    }

    /* Línea decorativa */
    .line-decoration {
        width: 90%; /* Ancho adaptado */
        margin: 20px auto; /* Centrada con márgenes arriba y abajo */
    }

    /* Ajuste de títulos */
    .titulo2 {
        font-size: 24px; /* Tamaño reducido en móviles */
        padding: 0 10px; /* Margen lateral para mejor ajuste */
    }

    /* Etiquetas y precios */
    .menu-price, .entry-price {
        font-size: 18px;
        display: block;
        text-align: left;
    }
}


.entry-image:hover {
    transform: scale(1.03);
}

